
    
  
	<div class="container-login100" style="background-image: url('assets/images/bg-01.jpg');">
      <form action="index.html" method="post">
      
        <h1>Contacto2</h1>
        <p>¿Tienes algo que comentarnos? ¡No dudes en escribirnos!</p>        

          <label for="name">Nombre:</label>
          <input type="text" id="name" name="user_name">

          <label for="lastname">Apellido:</label>
          <input type="text" id="lastname" name="user_lastname">

                    
          <label> 
                    
          </label>

          <label for="mail">Correo:</label>
          <input type="email" id="mail" name="user_email">

          <label for="bio">Comentario</label>
          <textarea id="bio" name="user_bio"></textarea>

          <div class="container-login100-form-btn">
            <div class="wrap-login100-form-btn">
              <div class="login100-form-bgbtn"></div>
              <button class="login100-form-btn">
                Enviar
              </button>
            </div>
        </div>
        
      
      </form>
    </div>
      