	<div class="limiter">
		<div class="container-login100" style="background-image: url('assets/images/bg-01.jpg');">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
				<form class="login100-form validate-form">
					
					<span class="login100-form-title p-b-49" style="font-size: 30px">
						Registrarse como :
					</span>

					
					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button (click)="selectUser(1)" class="login100-form-btn">
								PROFESOR
							</button>
						</div>
					</div>

					<br/>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button (click)="selectUser(3)" class="login100-form-btn">
								MEDICO
							</button>
						</div>
					</div>

					<br/>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button (click)="selectUser(2)"  class="login100-form-btn">
								REPRESENTANTE
							</button>
						</div>
					</div>
					
					<br/>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button (click)="selectUser(4)"  class="login100-form-btn">
								INVESTIGADORES
							</button>
						</div>
					</div>

					
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
