
  
	<div class="container-login100" style="background-image: url('/src/assets/images/bg-01.jpg');">
       <form [formGroup] = "registerForm" (ngSubmit)="submit()" >
       		        <h1>Usuario: {{userStr}}</h1>
        
      <fieldset>

			<legend><span class="number">1</span>Datos básicos</legend>

			<label for="name">Nombre:</label>
			<input formControlName="name" type="text" id="name" name="user_name" [(ngModel)]="nuevoUsuario.nombre">

			<label for="mail">Apellido:</label>
			<input formControlName="last_name" type="email" id="mail" name="user_email" [(ngModel)]="nuevoUsuario.correo">

			<label for="nameUser">Nombre de usuario:</label>
			<input formControlName="username" type="text" id="nameUser" name="user_nameUser" [(ngModel)]="nuevoUsuario.usuario">

			<label for="password">Contraseña:</label>
			<input formControlName="ci" type="password" id="password" name="user_password"[(ngModel)]="nuevoUsuario.passwd">

		  <label for="ci">CI:</label>
		  <input formControlName="ci" type="password" id="ci" name="identification"[(ngModel)]="nuevoUsuario.ci">

			<label for="edad">Edad:</label>
			<input tformControlName="edad" ype="text" id="edad" name="user_edad" [(ngModel)]="nuevoUsuario.edad">

			<label>Género:</label>

			<input type="radio" id="under_13" value="under_13" name="user_age">
			<label for="under_13" class="light">Masculino</label>
			<input type="radio" id="over_13" value="over_13" name="user_age">
			<label for="over_13" class="light">Femenino</label>


			
          
        </fieldset>
	         <fieldset *ngIf="user==2">
        	
			<label>Cantidad de hijos:</label>
			<input formControlName="cant_hijos" type="number" id="hijos" name="user_hijos">

			<label for="name">Datos hijos:</label>

			<label for="name">Nombre:</label>
			<input formControlName="kid_name" type="text" id="name" name="user_name">

			<label for="lastname">Apellido:</label>
			<input formControlName="kid_last_name" type="text" id="lastname" name="user_lastname">

<!--			<label for="user_usuario">Nombre de usuario:</label>
			<input type="text" id="usuario" name="user_usuario">-->

			<label for="name">Cédula de Identidad o Nro de Pasaporte: (opcional)</label>
			<input formControlName="kid_ci" type="text" id="ci" name="user_ci">

			<label>Edad:</label>
			<input formControlName="kid_edad" type="text" id="edad" name="user_edad">

			<label>Género:</label>



			<label for="under_13" class="light">Masculino</label>
				 <input type="radio" id="under_13" value="under_13" name="user_age">
			<label for="over_13" class="light">Femenino</label>
				 <input type="radio" id="over_13" value="over_13" name="user_age">
          <br>
        </fieldset>
        
  
        <div class="container-login100-form-btn">
            <div class="wrap-login100-form-btn">
              <div class="login100-form-bgbtn"></div>
              <button type="submit" class="login100-form-btn" (click)="guardarUsurio()">
                Registrarse
              </button>

            </div>
          </div>

       </form>
    </div>